In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns",None)

In [2]:
data=pd.read_csv("glassdoor_jobs.csv")

In [3]:
data.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [4]:
data=data.drop(columns="Unnamed: 0")

## Tasks

1. Get the average salary
2. Get the company name
3. Get the state
4. Check if he job is located in the HeadQuater
5. Get the age of the company
6. Check the Data Science tools that were listed in the Job Description. e.g, python,sql,spark,excel

## 1. Get the Average Salary

In [5]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [6]:
data["Salary Estimate"]=data["Salary Estimate"].apply(lambda x: x.split("(")[0])

In [7]:
data["Salary Estimate"]=data["Salary Estimate"].apply(lambda x: x.replace("K","").replace("Employer Provided Salary:","").replace("Per Hour","").replace("$",""))

In [8]:
data.tail(50)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
906,Data Scientist,-1,"Jr. Data Scientist - Fast-growing, Location An...",5.0,Jobot\n5.0,"San Francisco, CA","Irvine, CA",51 to 200 employees,2018,Company - Private,Staffing & Outsourcing,Business Services,$25 to $50 million (USD),-1
907,Data Engineer,74-124,"Pinnacol Assurance does just one thing, and do...",4.0,Pinnacol Assurance\n4.0,"Denver, CO","Denver, CO",501 to 1000 employees,1915,Nonprofit Organization,Insurance Carriers,Insurance,$500 million to $1 billion (USD),-1
908,Data Scientist,-1,Position Data Scientist Location Houston Statu...,3.6,"Creative Circle, LLC\n3.6","Houston, TX","Los Angeles, CA",201 to 500 employees,2002,Company - Public,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,"Aquent, 24 Seven Talent"
909,Food Scientist - Developer,40-68,Palermo Villa Inc. is interested in a high-ene...,3.3,Palermo's Pizza\n3.3,"Milwaukee, WI","Milwaukee, WI",501 to 1000 employees,1964,Company - Private,Food & Beverage Manufacturing,Manufacturing,Unknown / Non-Applicable,-1
910,Senior Data Engineer,76-142,Sr. Data Engineer FTE for Franklin\n\nThere ar...,3.2,Equian LLC\n3.2,"Franklin, TN","Indianapolis, IN",1001 to 5000 employees,2004,Company - Private,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1
911,Data Engineer,76-142,MetroStar Systems is looking for a Data Engine...,3.4,MetroStar Systems\n3.4,"Rockville, MD","Reston, VA",201 to 500 employees,1999,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),-1
912,Senior Data Scientist,108-171,"The Infrastructure, Architecture, and Tools te...",4.4,MathWorks\n4.4,"Natick, MA","Natick, MA",1001 to 5000 employees,1984,Company - Private,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),-1
913,"Director II, Data Science - GRM Actuarial",202-306,Advance your career at Liberty Mutual Insuranc...,3.3,Liberty Mutual Insurance\n3.3,"Chicago, IL","Boston, MA",10000+ employees,1912,Company - Private,Insurance Carriers,Insurance,$10+ billion (USD),"Travelers, Allstate, State Farm"
914,Machine Learning Engineer,91-159,We are seeking a highly-experienced ML Enginee...,3.2,Information Builders\n3.2,"New York, NY","New York, NY",1001 to 5000 employees,1975,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,"Qlik, Tableau Software, Informatica"
915,Data Engineer,-1,Our client is a leading hedge fund looking to ...,4.1,NJF Global Holdings\n4.1,"New York, NY","London, United Kingdom",51 to 200 employees,2003,Company - Private,Staffing & Outsourcing,Business Services,$10 to $25 million (USD),-1
916,"Sr Expert Data Science, Advanced Visual Analyt...",80-133,"Posting Title\nSr Expert Data Science, Advance...",3.8,Novartis\n3.8,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1
917,Clinical Data Manager,-1,"At Alector, our mission is to develop therapie...",5.0,Alector\n5.0,"South San Francisco, CA","South San Francisco, CA",51 to 200 employees,2013,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
918,Data Scientist,-1,Job Description\nData Scientist\n\nHIGHLIGHTS\...,4.2,GTN Technical Staffing\n4.2,"Tempe, AZ","Dallas, TX",201 to 500 employees,2000,Company - Private,Staffing & Outsourcing,Business Services,$25 to $50 million (USD),"MATRIX Resources, The Insource Group, TEKsystems"
919,MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB,21-34,Day Shift: 7A-330P. Holidays and every other w...,3.6,Beebe Healthcare\n3.6,"Millville, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1
920,"Scientist, Molecular/Cellular Biologist",49-97,"[1]Scientist, Molecular/Cellular Biologist\n\n...",2.9,Audentes Therapeutics\n2.9,"South San Francisco, CA","San Francisco, CA",201 to 500 employees,2012,Subsidiary or Business Segment,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"BioMarin Pharmaceutical, Sangamo Therapeutics,..."
921,Staff Scientist-Downstream Process Development,49-113,ABL is seeking a Staff Scientist for the Downs...,2.7,Advanced BioScience Laboratories\n2.7,"Rockville, MD","Rockville, MD",201 to 500 employees,1961,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$25 to $50 million (USD),-1
922,Data Scientist,-1,Steel Point Solutions is an amazing SBA Certif...,4.7,"Steel Point Solutions, LLC\n4.7","Alexandria, VA","Calverton, MD",1 to 50 employees,2013,Other Organization,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
923,Data Engineer 5 - Contract,-1,Purposes\n\nThis is a contract position that w...,4.2,The Church of Jesus Christ of Latter-day Saint...,"Riverton, UT","Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,Religious Organizations,Non-Profit,Unknown / Non-Applicable,-1
924,Data Scientist,96-161,SummaryProvide data management and statistical...,3.2,"Numeric, LLC\n3.2","Philadelphia, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
925,Data Scientists,-1,Position Description:\nThe Analytics Research ...,3.3,Miracle Software Systems\n3.3,Michigan,"Novi, MI",51 to 200 employees,1994,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),"CSC, IBM"
926,Scientist - Analytical Services,65-134,British American Tobacco\nReynolds American In...,3.1,Reynolds American\n3.1,"Winston-Salem, NC","Winston-Salem, NC",5001 to 10000 employees,1875,Company - Private,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
927,"Head Data Scientist – Image Analytics lead, No...",-1,"06-Feb-2020\n\nJob ID\n279186BR\n{""QuestionNam...",3.8,Novartis\n3.8,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1
928,"Associate Scientist / Sr. Associate Scientist,...",59-125,"Who we are\n\n23andMe, the leading consumer ge...",4.0,23andMe\n4.0,"South San Francisco, CA","Sunnyvale, CA",501 to 1000 employees,2006,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Ancestry, Verily Life Sciences, Abbott Laborat..."
929,Associate Data Analyst- Graduate Development P...,32-59,Overview\n\n\nNational Interstate is a member ...,3.3,National Interstate\n3.3,"Richfield, OH","Richfield, OH",501 to 1000 employees,1989,Company - Private,Insurance Carriers,Insurance,$500 million to $1 billion (USD),-1
930,Sr. Data Engineer,87-158,Join our team of Data Consultants and work on ...,4.5,Moser Consulting\n4.5,"Indianapolis, IN","Indianapolis, IN",51 to 200 employees,1996,Company - Private,Consulting,Business Services,$25 to $50 million (USD),-1
931,Clinical Data Analyst,27-48,Job Summary\n\n\nGreenway Health is actively s...,3.0,Greenway Health\n3.0,"Tampa, FL","Tampa, FL",1001 to 5000 employees,1977,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"eClinicalWorks, NextGen Healthcare, athenahealth"
932,IT Associate Data Analyst,39-69,"Monday, November 25, 2019\n\nOur Personal Line...",3.7,The Hanover Insurance Group\n3.7,"Worcester, MA","Worcester, MA",5001 to 10000 employees,1852,Company - Public,Insurance Carriers,Insurance,$5 to $10 billion (USD),-1
933,Business Data Analyst,36-71,(We are unable to sponsor for this role now or...,3.8,Fareportal\n3.8,"New York, NY","New York, NY",1001 to 5000 employees,2002,Company - Private,Travel Agencies,Travel & Tourism,$2 to $5 billion (USD),"Expedia Group, Orbitz Worldwide, Priceline.com"
934,Senior Insurance Data Scientist,107-173,"What We'll Bring:\n\nAt TransUnion, we have a ...",3.9,TransUnion\n3.9,"Chicago, IL","Chicago, IL",5001 to 10000 employees,1968,Company - Public,Financial Analytics & Research,Finance,$1 to $2 billion (USD),-1
935,Senior Data Science Systems Engineer,56-99,"MITRE’s Army Concepts, Platforms and Theater O...",3.2,MITRE\n3.2,"Hampton, VA","Bedford, MA",5001 to 10000 employees,1958,Nonprofit Organization,Federal Agencies,Government,$1 to $2 billion (USD),"Battelle, General Atomics, SAIC"
936,ENVIRONMENTAL ENGINEER/SCIENTIST,25-28,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1
937,"Scientist, Product Development",-1,Requisition Number:\nVALA4948\n\nJob Title:\nS...,2.9,Pharmavite\n2.9,"Valencia, CA","West Hills, CA",1001 to 5000 employees,1971,Company - Private,Consumer Products Manufacturing,Manufacturing,$1 to $2 billion (USD),"The Nature's Bounty Co., Schiff Nutrition Inte..."
938,Senior Scientist - Regulatory Submissions,80-155,British American Tobacco\nReynolds American In...,3.1,Reynolds American\n3.1,"Winston-Salem, NC","Winston-Salem, NC",5001 to 10000 employees,1875,Company - Private,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
939,Scientist - Biomarker and Flow Cytometry,43-98,"Crown Bioscience, a JSR Life Sciences company,...",2.4,Crown Bioscience\n2.4,"San Diego, CA","San Diego, CA",501 to 1000 employees,2006,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$50 to $100 million (USD),-1
940,Revenue Analytics Manager,45-78,HOVER uses patented technology making it possi...,4.8,HOVER\n4.8,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2011,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD),-1
941,Sr. Scientist Method Development,50-110,Q2 Solutions is a leading clinical trial labor...,2.9,Q2 Solutions\n2.9,"Marietta, GA","Morrisville, NC",1001 to 5000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
942,"Associate Scientist, LC/MS Biologics",44-96,Q2 Solutions is a leading clinical trial labor...,2.9,Q2 Solutions\n2.9,"Ithaca, NY","Morrisville, NC",1001 to 5000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
943,"Research Scientist, Immunology - Cancer Biology",100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1
944,IT - Data Engineer II,61-119,IT - Data Engineer II\n\nThe Data Engineer II ...,3.4,Arbella Insurance\n3.4,"Quincy, MA","Quincy, MA",1001 to 5000 employees,1988,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),-1
945,Machine Learning Engineer (NLP),80-142,CK-12’s mission is to provide free access to o...,4.1,CK-12 Foundation\n4.1,"Palo Alto, CA","Palo Alto, CA",1 to 50 employees,2007,Company - Private,K-12 Education,Education,Unknown / Non-Applicable,-1
946,Senior Data Analyst,99-178,Senior Data Analyst\n\nAbout us\n\n\nLife360 b...,3.9,Life360\n3.9,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2008,Company - Public,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
947,Data Science Project Manager,37-100,"At MassMutual, we are passionate about helping...",3.6,MassMutual\n3.6,"Boston, MA","Springfield, MA",5001 to 10000 employees,1851,Company - Private,Insurance Carriers,Insurance,$10+ billion (USD),-1
948,Data Engineer,62-113,Do you find data architecture exciting? Does b...,3.9,Fivestars\n3.9,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2011,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Belly, SpotOn"
949,"Principal, Data Science - Advanced Analytics",86-137,IQVIA is the leading human data science compan...,3.6,IQVIA\n3.6,"Plymouth Meeting, PA","Durham, NC",10000+ employees,2017,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),"PPD, INC Research, PRA Health Sciences"
950,"Sr Scientist, Immuno-Oncology - Oncology",58-111,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck"
951,Senior Data Engineer,72-133,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,"Project Scientist - Auton Lab, Robotics Institute",56-91,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,Data Science Manager,95-160,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
954,Data Engineer,-1,Loading...\n\nTitle: Data Engineer\n\nLocation...,4.8,IGNW\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom
955,Research Scientist – Security and Privacy,61-126,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

In [9]:
data=data.loc[data["Salary Estimate"]!="-1"]

In [10]:
data["minsal"]=data["Salary Estimate"].apply(lambda x: int(x.split("-")[0]))

data["maxsal"]=data["Salary Estimate"].apply(lambda x: int(x.split("-")[1]))

In [11]:
data["Average_salary"]=(data["maxsal"]+data["minsal"])/2

## 2. Get the Company name

In [12]:
data["Company Name"]=data["Company Name"].apply(lambda x: x if "\n" not in x else x.split("\n")[0])

In [13]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,minsal,maxsal,Average_salary
0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,53,91,72.0
1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,63,112,87.5
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,80,90,85.0
3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",56,97,76.5
4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",86,143,114.5

## 3. State

In [14]:
data["Location"]=data["Location"].apply(lambda x: x.split(",")[1])

In [15]:
data["Location"].value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 NC              21
 WA              21
 NJ              17
 FL              16
 OH              14
 TN              13
 CO              11
 DC              11
 IN              10
 UT              10
 WI              10
 MO               9
 AZ               9
 AL               8
 DE               6
 KY               6
 GA               6
 MI               6
 IA               5
 CT               5
 LA               4
 OR               4
 NE               4
 NM               3
 KS               3
 MN               2
 ID               2
 SC               1
 RI               1
 Los Angeles      1
Name: Location, dtype: int64

In [16]:

data["Location"]=data["Location"].apply(lambda x: "CA" if x.strip().lower()=="los angeles" else x.strip())

In [17]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,minsal,maxsal,Average_salary
0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,NM,"Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,53,91,72.0
1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,MD,"Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,63,112,87.5
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,FL,"Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,80,90,85.0
3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,WA,"Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",56,97,76.5
4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,NY,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",86,143,114.5

## 4. Job in HQ?

In [18]:
data["Job in HQ"]=data.apply(lambda x: 1 if x["Location"] in x["Headquarters"] else 0, axis=1)

## 5. Age of Company

In [19]:
data["Company_age"]=data["Founded"].apply(lambda x: 0 if x<1 else 2021-x)

In [20]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,minsal,maxsal,Average_salary,Job in HQ,Company_age
0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,NM,"Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,53,91,72.0,0,48
1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,MD,"Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,63,112,87.5,1,37
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,FL,"Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,80,90,85.0,1,11
3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,WA,"Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",56,97,76.5,1,56
4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,NY,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",86,143,114.5,1,23

In [21]:
data["Company_age"].value_counts()

0      50
11     32
13     31
25     27
15     24
       ..
122     1
119     1
107     1
104     1
277     1
Name: Company_age, Length: 102, dtype: int64

In [22]:
data.loc[data["Founded"]<1]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,minsal,maxsal,Average_salary,Job in HQ,Company_age
43,Data Engineer,68-129,Position Title: Data Engineer\n\nPersivia is s...,3.6,Persivia,MA,"Lowell, MA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,68,129,98.5,1,0
48,Data Scientist,150-160,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services,DC,"Alexandria, VA",Unknown,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,150,160,155.0,0,0
76,Data Scientist,96-161,SummaryProvide data management and statistical...,3.2,"Numeric, LLC",PA,"Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,96,161,128.5,1,0
166,Data Engineer 4 - Contract,59-115,Purposes\n\nAs a member of the Business Intell...,4.2,The Church of Jesus Christ of Latter-day Saints,UT,"Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,Religious Organizations,Non-Profit,Unknown / Non-Applicable,-1,59,115,87.0,1,0
192,Data Engineer 5 - Contract (Remote),74-140,Purposes\n\nThis is a remote contract position...,4.2,The Church of Jesus Christ of Latter-day Saints,UT,"Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,Religious Organizations,Non-Profit,Unknown / Non-Applicable,-1,74,140,107.0,1,0
223,PV Scientist,60-123,SUMMARY:\nThe Pharmacovigilance Scientist supp...,2.9,Karyopharm Therapeutics Inc.,MA,"Newton, MA",201 to 500 employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,60,123,91.5,1,0
226,Data Engineer,48-93,Are you interested in a career opportunity wit...,3.7,P2 Energy Solutions,LA,"Denver, CO",501 to 1000 employees,-1,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,48,93,70.5,0,0
242,R&D Specialist/ Food Scientist,39-66,Responsibilities Include but may not be limite...,2.4,Teasdale Latin Foods,IL,"Flower Mound, TX",501 to 1000 employees,-1,Company - Private,Food & Beverage Manufacturing,Manufacturing,$100 to $500 million (USD),-1,39,66,52.5,0,0
270,Data Analyst,33-62,"Wednesday, March 11, 2020\n\n\nCommunity Actio...",2.8,Community Action Partnership of San Luis Obispo,CA,"San Luis Obispo, CA",501 to 1000 employees,-1,Nonprofit Organization,Social Assistance,Non-Profit,$50 to $100 million (USD),-1,33,62,47.5,1,0
282,Data Engineer 5 - Contract (Remote),74-140,Purposes\n\nThis is a remote contract position...,4.2,The Church of Jesus Christ of Latter-day Saints,UT,"Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,Religious Organizations,Non-Profit,Unknown / Non-Applicable,-1,74,140,107.0,1,0
318,"Sr. Data Scientist, Cyber-Security LT Contract",116-194,SUMMARYSenior Data Scientist will assist the c...,3.2,"Numeric, LLC",PA,"Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,116,194,155.0,1,0
328,Data Scientist,83-135,ONLY GCCITIZEN OPTEAD (more than 1-year validi...,4.0,"Tekvalley, Corp.",CA,"Pleasanton, CA",1 to 50 employees,-1,Company - Private,IT Services,Information Technology,Less than $1 million (USD),-1,83,135,109.0,1,0
377,Data Operations Lead,85-90,Data Operations Lead\nLocation: Flexible thoug...,-1.0,Muso,CA,"San Francisco, CA",201 to 500 employees,-1,Nonprofit Organization,-1,-1,Unknown / Non-Applicable,-1,85,90,87.5,1,0
383,PV Scientist,60-123,SUMMARY:\nThe Pharmacovigilance Scientist supp...,2.9,Karyopharm Therapeutics Inc.,MA,"Newton, MA",201 to 500 employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,60,123,91.5,1,0
386,Data Engineer,48-93,Are you interested in a career opportunity wit...,3.7,P2 Energy Solutions,LA,"Denver, CO",501 to 1000 employees,-1,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,48,93,70.5,0,0
429,R&D Specialist/ Food Scientist,39-66,Responsibilities Include but may not be limite...,2.4,Teasdale Latin Foods,IL,"Flower Mound, TX",501 to 1000 employees,-1,Company - Private,Food & Beverage Manufacturing,Manufacturing,$100 to $500 million (USD),-1,39,66,52.5,0,0
431,"Scientist, Bacteriology",74-149,"Scientist, Bacteriology\nLocation\n\n\nCerus U...",2.1,Cerus Corporation,CA,"Concord, CA",201 to 500 employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$25 to $50 million (USD),-1,74,149,111.5,1,0
472,"Research Scientist, Immunology - Cancer Biology",100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,MA,"San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,100,140,120.0,0,0
477,Data Scientist,150-160,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services,DC,"Alexandria, VA",Unknown,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,150,160,155.0,0,0
510,Sr. Data Engineer (ETL Developer),83-148,Summary\n\nFGL Holdings—the F&G family of insu...,3.7,F&G,IA,"Des Moines, IA",201 to 500 employees,-1,Subsidiary or Business Segment,Insurance Carriers,Insurance,$100 to $500 million (USD),-1,83,148,115.5,1,0
518,"Senior Scientist, Cell Pharmacology/Assay Deve...",110-130,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos Bio,MA,"San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,110,130,120.0,0,0
526,Geospatial Software Developer and Data Scientist,82-129,Job Posting Title:\n\nGeospatial Software Deve...,3.7,Applied Research Laboratories,TX,"Austin, TX",501 to 1000 employees,-1,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,82,129,105.5,1,0
560,Data Engineer,63-120,SUMMARYData Analytics team is looking for a sm...,3.2,"Numeric, LLC",PA,"Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,63,120,91.5,1,0
575,Data Scientist,85-142,You must have experience in build and evaluate...,4.0,Lorven Technologies Inc,CA,"Plainsboro, NJ",1 to 50 employees,-1,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),-1,85,142,113.5,0,0
577,Data Scientist,111-176,"Headquartered in Brisbane, Calif., CareDx, Inc...",2.5,CareDx,CA,"Brisbane, CA",1 to 50 employees,-1,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,Sequenom,111,176,143.5,1,0
578,Data Scientist,87-140,PDI provides services across all verticals and...,3.9,Serigor Inc.,CA,"Baltimore, MD",1 to 50 employees,-1,Company - Private,IT Services,Information Technology,Less than $1 million (USD),-1,87,140,113.5,0,0
583,Data Scientist,81-140,"As a Data Scientist, you will play a critical ...",-1.0,ALIN,NY,"Noida, India",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,81,140,110.5,0,0
586,Data Scientist,108-171,Advanced degree in Data Science Statistics Com...,3.5,e-IT Professionals Corp.,CA,"Canton, MI",51 to 200 employees,-1,Company - Private,"Health, Beauty, & Fitness",Consumer Services,$5 to $10 million (USD),-1,108,171,139.5,0,0
595,Data Scientist,70-118,"Hello Associates,\n\n*****Greetings from Conch...",4.6,"Conch Technologies, Inc",MA,"Memphis, TN",51 to 200 employees,-1,Company - Private,Consulting,Business Services,$5 to $10 million (USD),-1,70,118,94.0,0,0
633,R&D Specialist/ Food Scientist,39-66,Responsibilities Include but may not be limite...,2.4,Teasdale Latin Foods,IL,"Flower Mound, TX",501 to 1000 employees,-1,Company - Private,Food & Beverage Manufacturing,Manufacturing,$100 to $500 million (USD),-1,39,66,52.5,0,0
642,"Scientist, Bacteriology",74-149,"Scientist, Bacteriology\nLocation\n\n\nCerus U...",2.1,Cerus Corporation,CA,"Concord, CA",201 to 500 employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$25 to $50 million (USD),-1,74,149,111.5,1,0
654,"Data Analyst 1, full-time contract worker for ...",35-65,"Purposes\n\nIn addition to your application, p...",4.2,The Church of Jesus Christ of Latter-day Saints,UT,"Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,Religious Organizations,Non-Profit,Unknown / Non-Applicable,-1,35,65,50.0,1,0
703,"Research Scientist, Immunology - Cancer Biology",100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,MA,"San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,100,140,120.0,0,0
712,Data Science Manager,95-160,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC",PA,"Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,95,160,127.5,1,0
714,Data Analyst 2 (Missionary Department),53-91,Purposes\n\nProvide department leadership with...,4.2,The Church of Jesus Christ of Latter-day Saints,UT,"Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,Religious Organizations,Non-Profit,Unknown / Non-Applicable,-1,53,91,72.0,1,0
734,Product Manager/Data Evangelist,50-98,Product Manager/Data EvangelistSUMMARY\n\nMana...,3.2,"Numeric, LLC",PA,"Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,50,98,74.0,1,0
741,"Scientist – Cancer Discovery, Molecular Assay",100-135,"Scientist – Cancer Discovery, Molecular Assay\...",-1.0,Monte Rosa Therapeutics,MA,-1,-1,-1,-1,-1,-1,-1,-1,100,135,117.5,0,0
758,Data Engineer,74-137,"Maxar is seeking an independent, creative and ...",3.7,Maxar Technologies,VA,"Westminster, CO",5001 to 10000 employees,-1,Company - Public,Aerospace & Defense,Aerospace & Defense,$2 to $5 billion (USD),-1,74,137,105.5,0,0
767,Sr. Data Engineer (ETL Developer),83-148,Summary\n\nFGL Holdings—the F&G family of insu...,3.7,F&G,IA,"Des Moines, IA",201 to 500 employees,-1,Subsidiary or Business Segment,Insurance Carriers,Insurance,$100 to $500 million (USD),-1,83,148,115.5,1,0
778,"Senior Scientist, Cell Pharmacology/Assay Deve...",110-130,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos Bio,MA,"San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,110,130,120.0,0,0
789,Geospatial Software Developer and Data Scientist,82-129,Job Posting Title:\n\nGeospatial Software Deve...,3.7,Applied Research Laboratories,TX,"Austin, TX",501 to 1000 employees,-1,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,82,129,105.5,1,0
819,"Principal Research Scientist/Team Lead, Medici...",120-145,"Principal Research Scientist/Team Lead, Medici...",-1.0,Kronos Bio,MA,"San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,120,145,132.5,0,0
839,Data Scientist,71-121,"JOB SUMMARY\n\nResponsible for scoping, develo...",3.5,Charter Spectrum,MO,"North Salt Lake, UT",1 to 50 employees,-1,School / School District,K-12 Education,Education,$5 to $10 million (USD),-1,71,121,96.0,0,0
856,R&D Specialist/ Food Scientist,39-66,Responsibilities Include but may not be limite...,2.4,Teasdale Latin Foods,IL,"Flower Mound, TX",501 to 1000 employees,-1,Company - Private,Food & Beverage Manufacturing,Manufacturing,$100 to $500 million (USD),-1,39,66,52.5,0,0
864,"Scientist, Bacteriology",74-149,"Scientist, Bacteriology\nLocation\n\n\nCerus U...",2.1,Cerus Corporation,CA,"Concord, CA",201 to 500 employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$25 to $50 million (USD),-1,74,149,111.5,1,0
877,"Data Analyst 1, full-time contract worker for ...",35-65,"Purposes\n\nIn addition to your application, p...",4.2,The Church of Jesus Christ of Latter-day Saints,UT,"Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,Religious Organizations,Non-Profit,Unknown / Non-Applicable,-1,35,65,50.0,1,0
901,Data Scientist,65-113,DatamanUSA has an exciting opportunity for a D...,3.4,"DatamanUSA, LLC",WA,"Centennial, CO",51 to 200 employees,-1,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,65,113,89.0,0,0
924,Data Scientist,96-161,SummaryProvide data management and statistical...,3.2,"Numeric, LLC",PA,"Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,96,161,128.5,1,0
943,"Research Scientist, Immunology - Cancer Biology",100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,MA,"San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,100,140,120.0,0,0
953,Data Science Manager,95-160,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC",PA,"Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,95,160,127.5,1,0

## 6. Check the Data Science tools that were listed in the Job Description. e.g, python,sql,spark,excel

In [23]:
data["python"]=data["Job Description"].apply(lambda x: 1 if "python" in x.lower() else 0)
data["sql"]=data["Job Description"].apply(lambda x: 1 if "sql" in x.lower() else 0)
data["spark"]=data["Job Description"].apply(lambda x: 1 if "spark" in x.lower() else 0)
data["excel"]=data["Job Description"].apply(lambda x: 1 if "excel" in x.lower() else 0)
data["IT"]=data["Job Description"].apply(lambda x: 1 if "IT" in x else 0)

In [24]:
data["R"]=data["Job Description"].apply(lambda x: 1 if "R" in x else 0)

In [25]:
data["R"].value_counts()

1    728
0     14
Name: R, dtype: int64

In [26]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,minsal,maxsal,Average_salary,Job in HQ,Company_age,python,sql,spark,excel,IT,R
0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,NM,"Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,53,91,72.0,0,48,1,0,0,1,0,1
1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,MD,"Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,63,112,87.5,1,37,1,0,0,0,1,1
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,FL,"Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,80,90,85.0,1,11,1,1,1,1,0,1
3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,WA,"Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",56,97,76.5,1,56,1,0,0,0,0,1
4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,NY,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",86,143,114.5,1,23,1,1,0,1,0,1

## 7. Entry Level Role?

In [27]:
data["Entry_level"]=data["Job Description"].apply(lambda x: 1 if "entry level" in x.lower() or "entry-level" in x.lower() else 0)

In [28]:
data["Entry_level"].value_counts()

0    733
1      9
Name: Entry_level, dtype: int64

## 8. Count of competitors

In [29]:
data["Competitors"][3]

'Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory'

In [30]:
data["Competitors_cnt"]=data["Competitors"].apply(lambda x: len(x.split(",")) if x!="-1" else 0)

In [31]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,minsal,maxsal,Average_salary,Job in HQ,Company_age,python,sql,spark,excel,IT,R,Entry_level,Competitors_cnt
0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,NM,"Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,53,91,72.0,0,48,1,0,0,1,0,1,0,0
1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,MD,"Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,63,112,87.5,1,37,1,0,0,0,1,1,0,0
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,FL,"Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,80,90,85.0,1,11,1,1,1,1,0,1,0,0
3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,WA,"Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",56,97,76.5,1,56,1,0,0,0,0,1,0,3
4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,NY,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",86,143,114.5,1,23,1,1,0,1,0,1,0,3

In [32]:
data["Job Title"].unique()

array(['Data Scientist', 'Healthcare Data Scientist',
       'Research Scientist', 'Staff Data Scientist - Technology',
       'Data Analyst', 'Data Engineer I', 'Scientist I/II, Biology',
       'Customer Data Scientist',
       'Data Scientist - Health Data Analytics',
       'Senior Data Scientist / Machine Learning',
       'Data Scientist - Quantitative', 'Digital Health Data Scientist',
       'Associate Data Analyst', 'Clinical Data Scientist',
       'Data Scientist / Machine Learning Expert', 'Web Data Analyst',
       'Senior Data Scientist', 'Data Engineer',
       'Data Scientist - Algorithms & Inference', 'Scientist',
       'Lead Data Scientist', 'Spectral Scientist/Engineer',
       'College Hire - Data Scientist - Open to December 2019 Graduates',
       'Data Scientist, Office of Data Science', 'Data Science Analyst',
       'Senior Risk Data Scientist',
       'Data Scientist in Artificial Intelligence Early Career',
       'Data Scientist - Research', 'R&D Data Analysis Scientist',
       'Analytics Consultant', 'Director, Data Science',
       'Data Scientist SR', 'R&D Sr Data Scientist',
       'Customer Data Scientist/Sales Engineer (Bay',
       'Jr. Business Data Analyst', 'Data Management Specialist',
       'E-Commerce Data Analyst', 'Sr. Scientist II',
       'Insurance Data Scientist', 'Data Modeler',
       'Data Analyst / Scientist', 'Data Scientist, Rice University',
       'Financial Data Analyst', 'Senior Data Analyst',
       'Ag Data Scientist', 'Data Scientist II', 'Senior Data Engineer',
       'Project Scientist', 'Data Analytics Manager',
       'Senior Machine Learning (ML) Engineer / Data Scientist - Cyber Security Analytics',
       'Associate Scientist', 'Scientist 2, QC Viral Vector',
       'Machine Learning Engineer', 'Data Scientist/ML Engineer',
       'Sr. Data Scientist', 'Data Engineer 4 - Contract',
       'Data Analyst - Asset Management',
       'Senior Research Scientist - Embedded System Development for DevOps',
       'Data Scientist - Bioinformatics',
       'Customer Data Scientist/Sales Engineer',
       'MongoDB Data Engineer II', 'Senior Data Scientist Statistics',
       'Senior Spark Engineer (Data Science)',
       'BI & Platform Analytics Manager',
       'Sr. Data Scientist - Analytics, Personalized Healthcare (PHC)',
       'Pricipal Scientist Molecular and cellular biologist',
       'Data Scientist (Actuary, FSA or ASA)', 'Staff Data Scientist',
       'Data Engineer 5 - Contract (Remote)',
       'Senior Scientist - Neuroscience', 'Medical Lab Scientist',
       'Risk and Analytics IT, Data Scientist',
       'Scientist, Analytical Development', 'Analytics Manager',
       'Digital Marketing & ECommerce Data Analyst',
       'Sr. Scientist - Digital & Image Analysis/Computational Pathology',
       'Principal Scientist - Immunologist',
       'Principal Data Scientist with over 10 years experience',
       'MED TECH/LAB SCIENTIST - LABORATORY',
       'Sr. Scientist, Quantitative Translational Sciences',
       'Sr. Data Scientist II', 'Excel / VBA / SQL Data Analyst',
       'Machine Learning Research Scientist', 'VP, Data Science',
       'Radar Data Analyst', 'PL Actuarial-Lead Data Scientist',
       'PV Scientist', 'Senior Data & Machine Learning Scientist',
       'Principal Data Scientist (Computational Chemistry)',
       'Principal Scientist, Chemistry & Immunology',
       'Software Engineer - Data Visualization',
       'Scientist/Senior Scientist, Autoimmune',
       'Staff Machine Learning Engineer',
       'Principal Scientist, Hematology', 'Lead Data Engineer',
       'Marketing Data Analyst', 'Medical Laboratory Scientist',
       'R&D Specialist/ Food Scientist',
       'Senior Research Scientist-Machine Learning',
       'Analytics Manager - Data Mart',
       'Sr. Data Engineer - Contract-to-Hire (Java)',
       'MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB',
       'Food Scientist - Developer',
       'Staff Scientist-Downstream Process Development',
       'Sr. Data Engineer',
       'Senior Research Statistician- Data Scientist',
       'Business Data Analyst, SQL',
       'Medical Technologist / Clinical Laboratory Scientist',
       'Associate Data Scientist/Computer Scientist',
       'Business Intelligence Analyst / Developer',
       'System and Data Analyst', 'Data & Analytics Consultant (NYC)',
       'Big Data Engineer - Chicago - Future Opportunity',
       'Survey Data Analyst', 'Lead Health Data Analyst - Front End',
       'Junior Data Analyst', 'SQL Data Engineer',
       'Sr. Data Scientist, Cyber-Security LT Contract',
       'Insurance Financial Data Analyst', 'Data Engineer I - Azure',
       'Information Security Data Analyst', 'Data Scientist, Senior',
       'CONSULTANT– DATA ANALYTICS GROUP',
       'Data Engineer, Data Engineering and Artifical Intelligence',
       'Staff Scientist',
       'Associate Scientist/Scientist, Process Analytical Technology - Small Molecule Analytical Chemistry',
       'Sr. Data Analyst', 'Program/Data Analyst',
       'Senior Data Scientist: Causal & Predictive analytics AI Innovation Lab',
       'Principal Data Engineer, Data Platform & Insights',
       'RESEARCH SCIENTIST - BIOLOGICAL SAFETY', 'Data Operations Lead',
       'Big Data Engineer', 'Clinical Data Analyst',
       'Computational Chemist/Data Scientist',
       'Product Engineer – Data Science', 'Market Data Analyst',
       'Staff Data Engineer', 'Associate Data Engineer',
       'Staff BI and Data Engineer',
       'Director - Data, Privacy and AI Governance',
       'Scientist Manufacturing - Kentucky BioProcessing',
       'Data Analytics Project Manager',
       'Consultant - Analytics Consulting',
       'Senior Scientist (Neuroscience)',
       'Machine Learning Engineer - Regulatory',
       'Scientist, Bacteriology',
       'Associate Director, Platform and DevOps- Data Engineering and Aritifical Intelligence',
       'Clinical Laboratory Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Director II, Data Science - GRM Actuarial',
       'Scientist, Molecular/Cellular Biologist',
       'Scientist - Analytical Services',
       'Associate Data Analyst- Graduate Development Program',
       'Senior Insurance Data Scientist',
       'Senior Data Science Systems Engineer',
       'ENVIRONMENTAL ENGINEER/SCIENTIST',
       'Senior Scientist - Regulatory Submissions',
       'Scientist - Biomarker and Flow Cytometry',
       'Revenue Analytics Manager',
       'Associate Scientist, LC/MS Biologics',
       'Sr. Scientist Method Development', 'IT - Data Engineer II',
       'Research Scientist, Immunology - Cancer Biology',
       'Project Scientist - Auton Lab, Robotics Institute',
       'Enterprise Architect, Data',
       'Senior Manager, Epidemiologic Data Scientist',
       'Corporate Risk Data Analyst (SQL Based) - Milwaukee or',
       'Marketing Data Analyst, May 2020 Undergrad',
       'Data Modeler - Data Solutions Engineer',
       'Associate Environmental Scientist - Wildlife Biologist',
       'Associate, Data Science, Internal Audit',
       'Sr Data Engineer (Sr BI Developer)',
       'Senior LiDAR Data Scientist', 'Salesforce Analytics Consultant',
       'Technology-Minded, Data Professional Opportunities',
       'Managing Data Scientist/ML Engineer',
       'Scientist, Pharmacometrics', 'Staff Scientist- Upstream PD',
       'Scientist Manufacturing Pharma - Kentucky BioProcessing',
       'Lead Big Data Engineer',
       'Product Engineer – Spatial Data Science and Statistical Analysis',
       'Sr Software Engineer (Data Scientist)',
       'Sr. Data Engineer (ETL Developer)',
       'Senior Data Scientist Artificial Intelligence',
       'Analytics - Business Assurance Data Analyst',
       'Associate Director/Director, Safety Scientist',
       'Senior Scientist, Cell Pharmacology/Assay Development',
       'Data Analyst Senior', 'Lead Data Engineer (Python)',
       'Senior Data Scientist 4 Artificial Intelligence',
       'Medical Lab Scientist - MLT',
       'Senior Operations Data Analyst, Call Center Operations',
       'Director II, Data Science - GRS Predictive Analytics',
       'RESEARCH COMPUTER SCIENTIST - RESEARCH ENGINEER - SR. COMPUTER SCIENTIST - SOFTWARE DEVELOPMENT',
       'Geospatial Software Developer and Data Scientist',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Systems Engineer II - Data Analyst',
       'Senior Research Analytical Scientist-Non-Targeted Analysis',
       'Director Data Science', 'Sr Data Analyst - IT',
       'Associate Machine Learning Engineer / Data Scientist May 2020 Undergrad',
       'Senior Scientist - Biostatistician',
       'Principal Machine Learning Scientist',
       'Data Analyst, Performance Partnership', 'Data Scientist Manager',
       'Software Data Engineer - College',
       'Senior Data Scientist - Algorithms',
       'Senior Data Scientist Oncology', 'Principal Data Scientist',
       'Data Scientist - Alpha Insights',
       'Associate Principal Scientist, Pharmacogenomics',
       'Data Scientist - Systems Engineering',
       'Data Engineer - Consultant (Charlotte Based)',
       'Data Analyst 1, full-time contract worker for up to 12 months',
       'Scientist, Immuno-Oncology', 'Products Data Analyst II',
       'Lead Data Analyst', 'Data Science Engineer - Mobile',
       'Sr Expert Data Science, Advanced Visual Analytics (Associate level)',
       'IT Associate Data Analyst', 'Business Data Analyst',
       'Data Scientist - Sales',
       'Principal, Data Science - Advanced Analytics',
       'Data Science Project Manager',
       'Sr Scientist, Immuno-Oncology - Oncology',
       'Research Scientist – Security and Privacy',
       'Data Science Manager', 'Data Analyst 2 (Missionary Department)',
       'Supply Chain Data Analyst', 'Data Engineer - ETL',
       'Data Modeler (Analytical Systems)',
       'Data Scientist in Translational Medicine',
       'Product Manager/Data Evangelist',
       'Senior Data Scientist – Visualization, Novartis AI Innovation Lab',
       'Senior Data Analyst/Scientist',
       'Scientist – Cancer Discovery, Molecular Assay',
       'Data Engineering Analyst', 'Manager of Data Science',
       'Software Engineer (Data Scientist/Software Engineer) - SISW - MG',
       'Associate Research Scientist I (Protein Expression and Production)',
       'Director, Precision Medicine Clinical Biomarker Scientist',
       'Senior Formulations Scientist II', 'Senior Quantitative Analyst',
       'Research Scientist or Senior Research Scientist - Computer Vision',
       'Data Analyst Chemist - Quality System Contractor',
       'Research Scientist / Principal Research Scientist - Multiphysical Systems',
       'Research Scientist, Machine Learning Department',
       'Foundational Community Supports Data Analyst',
       'Senior Health Data Analyst, Star Ratings',
       'Principal Research Scientist/Team Lead, Medicinal Chemistry - Oncology',
       'Senior Engineer, Data Management Engineering',
       'Quality Control Scientist III- Analytical Development',
       'Clinical Scientist, Clinical Development',
       'Software Engineer Staff Scientist: Human Language Technologies',
       'Manager, Safety Scientist, Medical Safety & Risk Management',
       'Assistant Director/Director, Office of Data Science',
       'Sr. Data Engineer | Big Data SaaS Pipeline',
       'Scientist - CVRM Metabolism - in vivo pharmacology',
       'Data Scientist (Warehouse Automation)', 'Jr. Data Scientist',
       'Data Architect / Data Modeler',
       'Associate Scientist / Sr. Associate Scientist, Antibody Discovery',
       'Machine Learning Engineer (NLP)'], dtype=object)

#### We want to group the Job title into
1. Data Scientist
2. Data Engineer
3. Data Analyst
4. MLE
5. Manager
6. Director

In [33]:
data["Jobtitle_cat"]=data["Job Title"].apply(lambda x: "data scientist" if "data scientist" in x.lower() else "data engineer" if "data engineer" in x.lower() else "data analyst" if "data analyst" in x.lower() else "mle" if "machine learning" in x.lower() else "manager" if "manager" in x.lower() else "director" if "director" in x.lower() else "na")

In [34]:
data["Jobtitle_cat"].value_counts()

data scientist    279
na                187
data engineer     119
data analyst       99
mle                22
manager            22
director           14
Name: Jobtitle_cat, dtype: int64

In [35]:
def jobtitle_grp(x):
    if "data scientist" in x.lower():
        return "data scientist"
    if "data engineer" in x.lower():
        return "data engineer"
    if "analyst" in x.lower():
        return "data analyst"
    if "machine learning" in x.lower():
        return "machine learning"
    if "manager" in x.lower():
        return "manager"
    if "director" in x.lower():
        return "director"
    else:
        return "na"

In [36]:
data["Jobtitle_grp"]=data["Job Title"].apply(jobtitle_grp)

In [37]:
data["Jobtitle_grp"].value_counts()

data scientist      279
na                  184
data engineer       119
data analyst        102
machine learning     22
manager              22
director             14
Name: Jobtitle_grp, dtype: int64

In [38]:
def sen(x):
    if "sr" in x.lower() or "sr." in x.lower() or "snr" in x.lower() or "snr." in x.lower() or "principal" in x.lower() or "lead" in x.lower():
        return "senior"
    elif "jr" in x.lower() or "jr." in x.lower() or "jnr" in x.lower() or "jnr." in x.lower():
        return "junior"
    else:
        return "na"

In [39]:
data["Experience_level"]=data["Job Title"].apply(sen)

In [40]:
data["Experience_level"].value_counts()

na        647
senior     93
junior      2
Name: Experience_level, dtype: int64

In [41]:
data["Job Description"]=data["Job Description"].apply(lambda x: len(x))

In [42]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,minsal,maxsal,Average_salary,Job in HQ,Company_age,python,sql,spark,excel,IT,R,Entry_level,Competitors_cnt,Jobtitle_cat,Jobtitle_grp,Experience_level
0,Data Scientist,53-91,2536,3.8,Tecolote Research,NM,"Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,53,91,72.0,0,48,1,0,0,1,0,1,0,0,data scientist,data scientist,na
1,Healthcare Data Scientist,63-112,4783,3.4,University of Maryland Medical System,MD,"Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,63,112,87.5,1,37,1,0,0,0,1,1,0,0,data scientist,data scientist,na
2,Data Scientist,80-90,3461,4.8,KnowBe4,FL,"Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,80,90,85.0,1,11,1,1,1,1,0,1,0,0,data scientist,data scientist,na
3,Data Scientist,56-97,3883,3.8,PNNL,WA,"Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",56,97,76.5,1,56,1,0,0,0,0,1,0,3,data scientist,data scientist,na
4,Data Scientist,86-143,2728,2.9,Affinity Solutions,NY,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",86,143,114.5,1,23,1,1,0,1,0,1,0,3,data scientist,data scientist,na

In [43]:
data["Rating"]=data["Rating"].apply(lambda x: 0 if x<1 else x)

In [44]:
data["Rating"].value_counts()

3.9    63
3.8    61
3.7    61
3.5    49
4.0    47
3.6    46
3.4    44
3.3    39
3.2    35
4.4    33
4.3    32
4.7    31
4.2    26
3.1    25
4.1    19
2.9    18
3.0    17
2.7    14
2.6    12
0.0    11
4.6    10
4.8     9
2.8     7
2.4     7
4.5     7
5.0     5
2.1     5
1.9     3
2.3     2
2.5     2
2.2     2
Name: Rating, dtype: int64

In [45]:
data.to_csv("data_clean.csv",index=False)